<main>
  <section id="section-login">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Login</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Login">
      </div>
      <br />
      <div class="form-group">
        <label for="exampleInputPassword1">Senha</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </section>
</main>
